#error-page
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  height: 100vh
  text-align: center

.error
    &__container
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        gap: 20px
        height: 100vh

    &__oops
        font-size: 36px
        font-weight: bold
        margin-bottom: 16px

    &__sorry 
        font-size: 18px
        margin-bottom: 16px

    &__message
        font-size: 14px
        color: #666
