.app-header
    display: flex
    align-items: center
    justify-content: space-evenly
    background-color: #24292e
    color: #ffffff
    padding: 1rem
    background-color: #24292e
    padding: 4px 24px
    align-items: center
    
    &__action
        display: flex
        gap: 10px

    &--fixed-top
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 1