@use '../utils/variables';
// Стили для меню
.menu-bar {
  display: flex;
  align-items: center;
  // margin-left: auto; // Отодвигаем меню вправо
}

.menu-toggle {
  display: none; // Скрываем кнопку по умолчанию
  background-color: variables.$color-header-bg; // Цвет фона кнопки
  color: variables.$color-header-text; // Цвет текста кнопки
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 4px;
  width: max-content;
  &:hover {
      background-color: rgba(255, 255, 255, 0.1); // Подсветка при наведении
  }
}

.menu-item {
  margin: 0 10px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 5px;
  }
}

.sub-menu {
  position: absolute; // Позиционируем вложенное меню
  top: 68px;
  background-color: variables.$color-header-bg; // Цвет фона вложенного меню
  padding: 10px;
  border-radius: 2px; // Закругление углов
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); // Тень для вложенного меню
  z-index: 2; // Убедитесь, что вложенное меню выше других элементов
  max-height: 0; // Начальное состояние
  opacity: 0; // Начальное состояние
  overflow: hidden; // Скрываем содержимое
  transition: max-height 0.3s ease, opacity 0.3s ease; // Плавный переход

  &--open {
      max-height: 500px; // Максимальная высота при открытии (должна быть больше, чем высота содержимого)
      opacity: 1; // Полная видимость
  }
  &__label {
    color: inherit;
    font-weight: 500;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.1);
  
    &:hover {
      text-shadow: 0 0 3px rgb(255, 255, 255);
    }
  }
}

.sub-menu-item {
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  &__icon {
    margin: 0 5px;
    font-size: 10px;
    transition: transform 0.3s ease;
    
    &--rotate {
      transform: rotate(180deg); // Вращение на 180 градусов
    }
  }

}

// Адаптивные стили
@media (max-width: 768px) {
  .app-header {
    justify-content: space-between;
  }
    
  .menu-bar {
      display: none; // Скрываем меню на мобильных устройствах

      &--open {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
        background-color: $color-header-bg;
        padding: 20px 0;
        margin: 0;
      }
  }

  .sub-menu {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    padding-left: 20px;
  }

  .menu-toggle {
      display: block; // Показываем кнопку на мобильных устройствах
  }
}