.nav
  margin-left: 24px
  
  &-items
    display: flex

  &-item
    list-style: none

  &-item__link
    margin-right: 16px
    color: #ffffff
    font-size: 14px
    text-transform: uppercase
    text-decoration: none
    &:hover
      color: rgba(255, 255, 255, 0.7)