@font-face {
    font-family: 'Squada One';
    src: url('../../assets/fonts/SquadaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../fonts/Inter_24pt-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}