.modal
    &__overlay
        position: fixed
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-color: rgba(0, 0, 0, 0.7)
        display: flex
        justify-content: center
        align-items: center
        z-index: 1000

    &__content
        display: flex
        flex-direction: column
        justify-content: space-between
        background-color: #fff
        border-radius: 10px
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2)
        padding: 20px
        
        min-height: 150px
        max-width: 500px
        width: 100%
        position: relative

    &__header
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 30px

    &__title
        font-size: 18px
        font-weight: bold
        color: #333
        margin: 0

    &__close
        position: absolute
        top: 20px
        right: 20px


